:root {
--color: #FEE715FF;

}

* {
    background-color: black;
    color: #FEE715FF;
    margin: 0;
font-family: 'Century Gothic', sans-serif;

}

/* sidebar section */
.sidebar {
    
        /* fixed positioning to make the sidebar always there */
        position: fixed;
        width: 20%;
        left: 0;
        margin: 0;
        padding: 0;
        overflow: auto;
        height: 100%;
        text-align: center;
    }
h1 {
    font-size: 50px;
    border-bottom: 2px dotted #FEE715FF ;
    border-bottom: center;
    padding-top: 30px;
    text-shadow: 2px;
}
.sidebar img {
    width: 250px;
    height: 250px;
    margin-top: -10px;
}
.sidebar a {
    display: block;
    padding: 20%;
    text-decoration: none;
    font-size: 25px;

}

/* body section */
.body_text {
    font-size: 20px;
   text-align: center;
    padding: 100px 20%;
    line-height: 2.5rem;
    margin-left: 20%;

}

.body_text h2 {
    font-size: 70px;
    padding:200px 0px;
    /* translate into rgb add 0.3 at the end to make it semi-transparent */
    text-shadow: 2px 2px  rgb(254, 231, 21, 0.9);
    /* border-radius: 5%; */

} 


/* sidebar when hovering  */

