* {
    margin: 0;
    padding: 0;
}

.topnavbar {
    display: flex;
    color: yellow;
}
.topnavbar a{
    text-decoration: none;
    list-style-type: none;
}
.topnavbar li {
    display: inline;
}

.navbar {
    justify-content: space-between;
    width: 100%;
    text-decoration: none;
    background: grey;
    margin: 10px;
}