:root {
--color: #FEE715FF;

}

* {
    background-color: black;
    color: #FEE715FF;
    margin: 0;
font-family: 'Century Gothic', sans-serif;

}

/* sidebar section */
.navbar {
    margin: 30px 40px;
    display: flex;
    justify-content: space-between;
    }

.navlistbar {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    margin-left: 5px;
}

.navlist {
    justify-content: space-around;
        display: inline-block;
        margin-left: 20px;
        font-size: 15px;
        text-decoration: none;
        text-align: center;
    }
h1 {
    font-size: 50px;
    border-bottom: 2px dotted #FEE715FF ;
}
.sidebar img {
    width: 250px;
    height: 250px;
    margin-top: -10px;
}
.navlist a {

    text-decoration: none;
    font-size: 20px;
    text-align: center;
    font-family: 'Century Gothic', sans-serif;
}

.body_text img {
    width: 250px;
    height: 250px;
    margin-top: -10px;
}

/* body section */
.body_text {
    font-size: 20px;
   text-align: center;
    padding: 100px 20%;
    line-height: 2.5rem;
    /* display: flex; */
}


.body_text h2 {
    position: absolute;
    left: 73px;
    font-size: 59px;
    padding: 200px 0px;
    text-shadow: 2px 2px rgb(254 231 21 / 90%);
    border-right: 2px solid rgb(254, 231, 21, 0.9);
    padding-right: 15px;
} 

.body_text p {
    position: relative;
    left: 148px;
    padding: 20px;
    word-spacing: 1px;
    line-height: 29px; 
    text-align: center;
}




/* Contact */
.contact {
    background-image: url(./picture/Contact.jpg);
    
}


footer {
    border-top: 2px solid rgb(254 231 21 / 90%) ;
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
}
/* sidebar when hovering  */

